<div class="col-12 mt-4 mb-5">

    <nav class="navbar navbar-expand px-0">

        <div class="navbar-brand">
            <img class="icon" src="/assets/images/logo.png" width="30" height="30" alt="" loading="lazy">
        </div>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/#projects">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/vividfax">
                    <i class="fa fa-github" style="font-size:1.1rem"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/vividfax/">
                    <i class="fa fa-instagram" style="font-size:1.1rem"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-0" href="https://twitter.com/vividfax">
                    <i class="fa fa-twitter" style="font-size:1.1rem"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
