$white: #FFF8F8;
$light: #FF9595;
$mid: #CE90C1;
$dark: #835E89;
$black: #36003F;
$contrast: #40b6af;

body {
    background-color: $white;
    color: $dark;
    font-family: "Noto Sans", Menlo, Monaco, 'Courier New', monospace;
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-bottom: 6rem;
}

canvas {
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    // transform: translate(-50%, -50%);
    z-index: -1;
}

h1 {
    // color: $mid;
    font-size: 3rem;
}

// h3 {
//     color: $mid;
// }

i, em {
    color: $mid;
}

a {
    color: $contrast;
    text-decoration: underline;
}

a:hover {
    color: $dark;
}

.nav-link {
    text-decoration: none;
    color: $mid;
}

.btn {
    background-color: $mid;
    color: $white;
    //font-size: 0.9rem;
    //line-height: 2rem;
    border: 0px;
    text-decoration: none;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: $dark;
}

img {
    width: 100%;
}

.icon {
    width: auto;
}

.indent {
    padding-left: 1.9rem;
}

#badges {
    color: $mid;
    font-size: 0.7rem;
    line-height: 1rem;
}

@media only screen and (max-width: 60em) {
    body, .btn {
        font-size: 0.9rem;
    }
    #badges {
        font-size: 0.6rem;
    }
}

.hiya {
    font-family: "Yeseva One", Menlo, Monaco, 'Courier New', monospace;
}

.www {
    font-family: "Fira Code", monospace;
}

.motif {
    font-family: "Averia Gruesa Libre", serif;
}

.orchestrate {
    font-family: "Nunito", sans-serif;
}

.terrain-hat {
    font-family: 'Times New Roman', Times, serif;
}

.generative-sketches {
    font-family: "Montserrat", sans-serif;
}

.planthood {
    font-family: 'Courier New', Courier, monospace;
    // font-weight: 600;
}

.flag-gen {
    font-family: "Raleway";
}

.wayfinder {
    font-family: 'Times New Roman', Times, serif;
}

.three-d {
    font-family: Helvetica, sans-serif;
}

.uos {
    font-family: Helvetica, sans-serif;
}

.gogogogogo {
    font-family: "Play", sans-serif;
}

.blackletter-walk {
    font-family: "Pirata One", serif;
}