$white: #FFF8F8;
$light: #FF9595;
$mid: #CE90C1;
$dark: #835E89;
$black:#36003F;
$contrast: #C0DFD9;

body {
    background-color: $white;
    color: $dark;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 6rem;
}

h3 {
    color: $mid;
}

i {
    color: $mid;
}

a {
    color: $mid;
}

a:hover {
    color: $dark;
}

strong {
    color: $black;
    font-weight: normal;
}

.btn {
    background-color: $mid;
    color: $white;
    font-size: 0.8rem;
    line-height: 2rem;
    border: 0px;
}

.btn:hover, .btn:active, .btn:focus {
    background-color: $dark;
}

img {
    width: 100%;
}

.icon {
    width: auto;
}

.indent {
    padding-left: 1.9rem;
}

#badges {
    color: $mid;
    font-size: 0.6rem;
    line-height: 1rem;
}
