<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="shortcut icon" type="image/png" href="/assets/images/logo.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        pre {
            background: #fff;
            color: #36003F;
            padding: 20px;
        }

        .highlighter-rouge {
            color: #36003F;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">

            {% include navbar.html %}

        </div>
        <div class="row">

            {{ content }}

        </div>
        <div class="row">


            {% include footer.html %}

        </div>
    </div>
</body>

</html>
